.side-menu {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  background: radial-gradient(circle at 0% -55%, rgba(225, 225, 225, 0.2) 32%, rgba(166, 166, 166, 0.1) 48%, rgb(37, 49, 42) 66%);
  background-color: rgb(37, 49, 42);
  position: absolute;
  left: 0;
  top: 19%;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-left: none;
  border-radius: 0px 8px;
  box-shadow: 4px 0px 8px rgb(37, 49, 42);
  color: rgba(255, 255, 255, 0.5);
}
.side-menu__item {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 0px 0px 8px 0px;
  width: 100%;
  padding: 8px 12px;
  box-sizing: border-box;
  cursor: pointer;
  text-align: center;
}
.side-menu__item span {
  display: inline-block;
  width: -moz-min-content;
  width: min-content;
}
.side-menu__item:active {
  box-shadow: inset 8px 8px 12px rgb(37, 49, 42) !important;
  border: 2px solid black !important;
}
.side-menu__item img {
  width: 35px;
  height: 35px;
  box-sizing: border-box;
}
.side-menu__add img {
  border-radius: 50%;
  background-color: green;
  padding: 8px;
  border: 1px solid rgba(255, 255, 255, 0.5);
}
.side-menu__add:hover {
  box-shadow: inset 2px 2px 8px lightgreen;
  border: 1px solid lightgreen;
}
.side-menu__delete img {
  border-radius: 50%;
  transition: background-color 1s;
  padding: 8px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  transform: rotate(45deg);
}
.side-menu__delete:hover {
  box-shadow: inset 2px 2px 8px red !important;
  border: 1px solid red;
}
.side-menu__edit img {
  border-radius: 8px;
  transition: background-color 1s;
  padding: 8px;
  border: 1px solid rgba(255, 255, 255, 0.5);
}
.side-menu__edit:hover {
  box-shadow: inset 2px 2px 8px rgb(75, 121, 210) !important;
  border: 1px solid rgb(75, 121, 210);
}
.side-menu__filters img {
  border-radius: 8px;
  background-color: rgb(37, 49, 42);
  padding: 8px;
  border: 1px solid rgba(255, 255, 255, 0.5);
}
.side-menu__filters:hover {
  box-shadow: inset 2px 2px 8px rgba(255, 255, 255, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.5);
}

@media all and (max-width: 766px) {
  .side-menu img {
    width: 28px;
    height: 28px;
    box-sizing: border-box;
  }
}/*# sourceMappingURL=style.css.map */