@import '../variables';

.side-menu {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    background: radial-gradient(circle at 0% -55%, rgba(225, 225, 225, 0.2) 32%, rgba(166, 166, 166, 0.1) 48%, $darkGrey 66%);
    background-color: $darkGrey;
    position: absolute;
    left: 0;
    top: 19%;
    border: 2px solid $white05;
    border-left: none;
    border-radius: 0px 8px;
    box-shadow: 4px 0px 8px $darkGrey;
    color: $white05;

    &__item {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        border-bottom: 1px solid $white05;
        border-radius: 0px 0px 8px 0px;
        width: 100%;
        padding: 8px 12px;
        box-sizing: border-box;
        cursor: pointer;
        text-align: center;

        & span {
            display: inline-block;
            width: min-content;
        }

        &:active {
            box-shadow: inset 8px 8px 12px $darkGrey !important;
            border: 2px solid black !important;
        }

        & img {
            @include wh(35px);
            box-sizing: border-box;
        }
    }

    &__add {

        img {
            border-radius: 50%;
            background-color: green;
            padding: 8px;
            border: 1px solid $white05;
        }

        &:hover {
            box-shadow: inset 2px 2px 8px lightgreen;
            border: 1px solid lightgreen;
        }
    }

    &__delete {

        img {
            border-radius: 50%;
            transition: background-color 1s;
            padding: 8px;
            border: 1px solid $white05;
            transform: rotate(45deg);
        }

        &:hover {
            box-shadow: inset 2px 2px 8px red !important;
            border: 1px solid red;
        }
    }

    &__edit {

        img {
            border-radius: 8px;
            transition: background-color 1s;
            padding: 8px;
            border: 1px solid $white05;
        }

        &:hover {
            box-shadow: inset 2px 2px 8px $blue !important;
            border: 1px solid $blue;
        }
    }

    &__filters {

        img {
            border-radius: 8px;
            background-color: $darkGrey;
            padding: 8px;
            border: 1px solid $white05;
        }

        &:hover {
            box-shadow: inset 2px 2px 8px $white05;
            border: 1px solid $white05;
        }
    }
}

@media all and (max-width: 766px) {
    .side-menu {

        & img {
            @include wh(28px);
            box-sizing: border-box;
        }
    }
}