@import '../variables';

.table-main {
    border-radius: 0px 8px;
    border: 2px solid black;
    border-spacing: 0px;
    margin-top: 20px;
    width: 66%;

    tr {
        border: 1px solid black;
        text-align: center;
    }

    thead {
        tr {
            border-radius: 0px 8px 0px 0px;
        }

        th:last-child {
            border-radius: inherit;
        }
    }

    th {
        width: 25%;
        border: 1px solid $black075;
        background-color: $blue;
        color: white;
    }

    tbody {
        tr {
            &:last-child {
                border-radius: 0px 0px 0px 8px;

                td:first-child {
                    border-radius: inherit;
                }
            }

        }
    }
}