.table-main {
  border-radius: 0px 8px;
  border: 2px solid black;
  border-spacing: 0px;
  margin-top: 20px;
  width: 66%;
}
.table-main tr {
  border: 1px solid black;
  text-align: center;
}
.table-main thead tr {
  border-radius: 0px 8px 0px 0px;
}
.table-main thead th:last-child {
  border-radius: inherit;
}
.table-main th {
  width: 25%;
  border: 1px solid rgba(0, 0, 0, 0.75);
  background-color: rgb(75, 121, 210);
  color: white;
}
.table-main tbody tr:last-child {
  border-radius: 0px 0px 0px 8px;
}
.table-main tbody tr:last-child td:first-child {
  border-radius: inherit;
}/*# sourceMappingURL=style.css.map */