.form-row {
  position: absolute;
  left: 100%;
  background: radial-gradient(circle at 50% -66%, rgba(225, 225, 225, 0.2) 24%, rgba(166, 166, 166, 0.1) 50%, rgb(37, 49, 42) 121%);
  transform: rotateZ(90deg);
  background-color: rgb(37, 49, 42);
  border-radius: 8px 0px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-right: none;
  color: white;
  padding: 16px 0px 28px 16px;
  opacity: 0;
  visibility: hidden;
  transform-origin: bottom right;
  transition: transform 1s ease-in-out, opacity 1s, visibility 1s;
}
.form-row button[type=submit] {
  width: -moz-max-content;
  width: max-content;
  padding: 3px 8px;
  color: white;
  font-weight: 700;
  background-color: rgb(75, 121, 210);
  border: 1px solid rgba(144, 177, 240, 0.75);
  border-radius: 0px 8px;
  text-align: center;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  position: absolute;
  bottom: 0px;
  right: 0px;
  transition: opacity 1s;
}
.form-row button[type=submit]:hover {
  box-shadow: inset 2px 2px 8px rgba(144, 177, 240, 0.75);
}
.form-row button[type=submit]:active {
  box-shadow: inset 2px 2px 8px rgb(37, 49, 42);
}
.form-row__add {
  bottom: 38%;
}
.form-row__edit {
  bottom: 19%;
}
.form-row_enabled {
  transform: translateX(-100%) rotateZ(0deg);
  opacity: 1;
  visibility: visible;
}

.fieldset-name-quant-dist {
  margin: 0px;
  padding: 0px 0px 0px 8px;
  border-right: none;
  border-radius: 8px 0px;
}
.fieldset-name-quant-dist legend {
  background-color: rgb(75, 121, 210);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 8px 0px;
  margin-left: 16px;
}
.fieldset-name-quant-dist div {
  margin: 0px 0px 8px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: center;
}
.fieldset-name-quant-dist div label {
  width: -moz-max-content;
  width: max-content;
}
.fieldset-name-quant-dist div input[type=text] {
  vertical-align: middle;
  border-radius: 8px 0px;
  margin: 0px 8px;
}

@media all and (max-width: 766px) {
  .form-row__add {
    bottom: 18%;
  }
  .form-row__edit {
    bottom: 1%;
  }
}/*# sourceMappingURL=style.css.map */