@import '../variables';

.form-row {
    position: absolute;
    left: 100%;
    background: radial-gradient(circle at 50% -66%, rgba(225, 225, 225, 0.2) 24%, rgba(166, 166, 166, 0.1) 50%, $darkGrey 121%);
    transform: rotateZ(90deg);
    background-color: $darkGrey;
    border-radius: 8px 0px;
    border: 1px solid $white05;
    border-right: none;
    color: white;
    padding: 16px 0px 28px 16px;
    opacity: 0;
    visibility: hidden;
    transform-origin: bottom right;
    transition: transform 1s ease-in-out, opacity 1s, visibility 1s;

    button[type=submit] {
        width: max-content;
        padding: 3px 8px;
        color: white;
        font-weight: 700;
        background-color: $blue;
        border: 1px solid $lightBlue075;
        border-radius: 0px 8px;
        text-align: center;
        appearance: none;
        position: absolute;
        bottom: 0px;
        right: 0px;
        transition: opacity 1s;

        &:hover {
            box-shadow: inset 2px 2px 8px $lightBlue075;
        }

        &:active {
            box-shadow: inset 2px 2px 8px $darkGrey;
        }
    }

    &__add {
        bottom: 38%;

    }

    &__edit {
        bottom: 19%;
    }

    &_enabled {
        transform: translateX(-100%) rotateZ(0deg);
        opacity: 1;
        visibility: visible;
    }
}

.fieldset-name-quant-dist {
    margin: 0px;
    padding: 0px 0px 0px 8px;
    border-right: none;
    border-radius: 8px 0px;

    legend {
        background-color: $blue;
        border: 1px solid $white05;
        border-radius: 8px 0px;
        margin-left: 16px;
    }

    div {
        margin: 0px 0px 8px;
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-end;
        align-items: center;

        label {
            width: max-content;
        }

        input[type=text] {
            vertical-align: middle;
            border-radius: 8px 0px;
            margin: 0px 8px;
        }
    }
}

@media all and (max-width: 766px) {
    .form-row {
    
        &__add {
            bottom: 18%;
    
        }
    
        &__edit {
            bottom: 1%;
        }
    }
}