.table-filters {
  background: radial-gradient(circle at 50% -66%, rgba(225, 225, 225, 0.2) 24%, rgba(166, 166, 166, 0.1) 50%, rgb(37, 49, 42) 121%);
  background-color: rgb(37, 49, 42);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-top: none;
  border-radius: 0px 8px;
  padding: 0px 16px 8px;
  transition: transform 1s ease-in-out, opacity 1s;
}
.table-filters fieldset {
  border-radius: 0px 8px;
  display: inline-block;
  vertical-align: top;
  color: white;
}
.table-filters fieldset legend {
  background-color: rgb(75, 121, 210);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 0px 8px;
}
.table-filters fieldset select, .table-filters fieldset input[type=text] {
  margin-left: 8px;
  border-radius: 0px 8px;
}
.table-filters button[type=submit] {
  color: white;
  font-weight: 700;
  background-color: rgb(75, 121, 210);
  border: 1px solid rgba(144, 177, 240, 0.75);
  border-radius: 0px 8px;
  width: 80px;
  height: 24px;
  text-align: center;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  position: absolute;
  bottom: 0px;
  right: 0px;
  transition: opacity 1s;
}
.table-filters button[type=submit]:hover {
  box-shadow: inset 2px 2px 8px rgba(144, 177, 240, 0.75);
}
.table-filters button[type=submit]:active {
  box-shadow: inset 2px 2px 8px rgb(37, 49, 42);
}

.column-filters {
  margin-right: 16px;
}
.column-filters legend + div {
  margin-bottom: 12px;
}/*# sourceMappingURL=style.css.map */