@import '../variables';

.table-filters {
    background: radial-gradient(circle at 50% -66%, rgba(225, 225, 225, 0.2) 24%, rgba(166, 166, 166, 0.1) 50%, $darkGrey 121%);
    background-color: $darkGrey;
    border: 1px solid $white05;
    border-top: none;
    border-radius: 0px 8px;
    padding: 0px 16px 8px;
    transition: transform 1s ease-in-out, opacity 1s;

    fieldset {
        border-radius: 0px 8px;
        display: inline-block;
        vertical-align: top;
        color: white;

        legend {
            background-color: $blue;
            border: 1px solid $white05;
            border-radius: 0px 8px;
        }

        select {
            margin-left: 8px;
            border-radius: 0px 8px;
        }

        input[type=text] {
            @extend select;
        }
    }

    button[type=submit] {
        color: white;
        font-weight: 700;
        background-color: $blue;
        border: 1px solid $lightBlue075;
        border-radius: 0px 8px;
        @include wh(80px, 24px);
        text-align: center;
        appearance: none;
        position: absolute;
        bottom: 0px;
        right: 0px;
        transition: opacity 1s;

        &:hover {
            box-shadow: inset 2px 2px 8px $lightBlue075;
        }

        &:active {
            box-shadow: inset 2px 2px 8px $darkGrey;
        }
    }
}

.column-filters {
    margin-right: 16px;

    legend+div {
        margin-bottom: 12px;
    }
}