.pagination {
  list-style: none;
}
.pagination li {
  margin-right: 20px;
  display: inline-block;
}
.pagination button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-radius: 0px 4px;
}
.pagination button span {
  font-size: 18px;
}
.pagination button:hover {
  box-shadow: inset 2px 2px 6px rgba(144, 177, 240, 0.75);
}
.pagination button:active {
  box-shadow: inset 3px 3px 6px rgb(37, 49, 42);
}

.button-side {
  color: white;
  background-color: rgb(75, 121, 210);
  border: 1px solid rgba(144, 177, 240, 0.75);
  padding: 4px 8px;
  font-size: 16px;
}

.button-number {
  font-size: 18px;
  padding: 8px 6px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  background-color: rgb(37, 49, 42);
}
.button-number.active {
  background-color: rgb(75, 121, 210);
  border: 1px solid rgba(144, 177, 240, 0.75);
}/*# sourceMappingURL=style.css.map */