@import '../variables';

.pagination {
    list-style: none;

    li {
        margin-right: 20px;
        display: inline-block;
    }

    button {
        appearance: none;
        border-radius: 0px 4px;

        span {
            font-size: 18px;
        }

        &:hover {
            box-shadow: inset 2px 2px 6px $lightBlue075;
        }

        &:active {
            box-shadow: inset 3px 3px 6px $darkGrey;
        }
    }
}

.button-side {
    color: white;
    background-color: $blue;
    border: 1px solid $lightBlue075;
    padding: 4px 8px;
    font-size: 16px;
}

.button-number {
    font-size: 18px;
    padding: 8px 6px;
    border: 1px solid $white05;
    background-color: $darkGrey;

    &.active {
        background-color: $blue;
        border: 1px solid $lightBlue075;
    }
}