.app-container {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: flex-start;
  overflow: hidden;
  width: 100%;
  height: 100%;
}/*# sourceMappingURL=App.css.map */