.tip-msg {
  width: 17%;
  font-size: 16px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 0px 8px;
  color: white;
  position: absolute;
  bottom: 0%;
  left: 0%;
  white-space: pre-wrap;
  padding: 8px;
  box-shadow: inset 4px 4px 8px rgba(255, 255, 255, 0.5);
  transform-origin: bottom left;
  transition: opacity 2s, transform 1s ease-in-out;
}
.tip-msg legend {
  background-color: rgb(37, 49, 42);
  border: 1px solid rgb(252, 235, 144);
  border-radius: 0px 8px;
  padding: 1px 4px;
}

.text-imp {
  color: rgb(252, 235, 144);
  text-decoration: underline;
}

@media all and (max-width: 766px) {
  .tip-msg {
    width: 25%;
  }
}/*# sourceMappingURL=style.css.map */