$black075: rgba(0, 0, 0, 0.75);
$darkGrey: rgb(37, 49, 42);
$blue: rgb(75, 121, 210);
$white05: rgba(255, 255, 255, 0.5);
$lightBlue075: rgba(144, 177, 240, 0.75);

@mixin wh($w, $h: $w) {
    width: $w;
    height: $h;
}